#Sat Feb 17 14:25:07 CST 2018
LotusNotesServerIsLocal=false
GoogleCalendarName=Work
LotusNotesServerDateFormat=Detect
DontSaveSensitiveData=false
GoogleEnableProxy=false
LotusNotesServer=NALLN199
SyncOnStartup=true
SyncLocationAndRoom=true
SyncMeetingAttendees=true
SyncAtMinOffsets=true
ConfigVersion=8
SyncAllSubjectsToValue=false
GoogleProxyUsername=
LotusNotesMailFile=data1\\126\\myNodesDB.nsf
SyncDescription=true
SyncDaysInFuture=30
GoogleProxyPort=80
GoogleUsername=googleid@gmail.com
GoogleProxyIP=
SyncAlarms=true
DiagnosticMode=false
LotusNotesPassword=ENCRYPTEDPWD
SyncMinOffsets=0, 15, 30, 45
SyncAllSubjectsToThisValue=(Private Entry)
GoogleProxyPassword=
ApplicationVersion=2.8
SyncDaysInPast=7
